{
	"useTabs": true,
	"printWidth": 80,
	"semi": false,
	"bracketSpacing": false,
	"trailingComma": "es5",
	"arrowParens": "avoid",
	"objectWrap": "collapse",
	"overrides": [
		{
			"files": "*.md",
			"options": {"proseWrap": "never"}
		}
	]
}
